<h1><%= @list.name() %></h1>
<p><a href="/lists/<%= @list.id() %>/edit">Edit <%= @list.name() %> list</a></p>
<p><a href="/">Return to Main Page</a></p>

<% if @list.tasks(@list.id()).any?() %>
  <h3>Here are all the tasks in this list:</h3>

  <ul>
    <% @list.tasks(@list.id()).each() do |task|%>
      <%= "<li>#{task.due_date()} #{task.description()}</li>" %>
    <% end %>
  </ul>

  <% else %>
    <p>
      There are no tasks on this list!
    </p>
  <%end%>

<div class="container">
  <a href="/">Home</a>
</div>
